html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #ffd984;
  margin: 0;
  height: 100%;
}

.header {
  margin: 10px;
  padding: 10px;
  border: 1px solid darkolivegreen;
}

.header h1 {
  font-family: "Comfortaa", cursive;
  font-size: 48px;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.header h2 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  font-weight: normal;
  margin-block-start: 0.25em;
  margin-block-end: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #9b6f1d;
  border-top: 1px solid darkolivegreen;
  border-bottom: 1px solid darkolivegreen;
}

ul.topnav li {
  float: left;
  border-right: 1px solid sandybrown;
}

ul.topnav li:list-child {
  border-right: none;
}

ul.topnav li .text {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}

ul.topnav li a:hover {
  background-color: #cc9123;
  color: white;
}

ul.topnav li .dropbtn:hover {
  background-color: #cc9123;
  color: white;
}

ul.topnav li a.active {
  background-color: #24b811;
  color: black;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content a {
  display: block;
  border-right: none;
  border-top: 1px solid sandybrown;
}

.dropdown-content {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.main-content {
  padding: 8px;
  margin: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  min-height: 290px;
}

img {
  margin: 10px 15px;
}

.footer {
  padding: 20px 20px 40px 20px;
  background-color: darkolivegreen;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-top: 5px solid saddlebrown;
}

.footer p {
  margin: 0px;
}

h3 {
  margin-block-start: 0.3em;
}
