body {
  background-color: #ffd984;
  margin: 0;
}

.header {
  margin: 10px;
  padding: 10px;
  border: 1px solid darkolivegreen;
}

.header h1 {
  font-family: "Shadows Into Light", "Comfortaa", cursive;
  font-size: 48px;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.header h2 {
  font-family: "Shadows Into Light", "Comfortaa", cursive;
  font-size: 30px;
  font-weight: normal;
  margin-block-start: 0.25em;
  margin-block-end: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #9b6f1d;
  border-top: 1px solid darkolivegreen;
  border-bottom: 1px solid darkolivegreen;
}

ul.topnav li {
  float: left;
  border-right: 1px solid sandybrown;
}

ul.topnav li:list-child {
  border-right: none;
}

ul.topnav li .text {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}

ul.topnav li a:hover {
  background-color: #cc9123;
  color: white;
}

ul.topnav li .dropbtn:hover {
  background-color: #cc9123;
  color: white;
}

ul.topnav li a.active {
  background-color: #24b811;
  color: black;
}

div.main-content {
  padding: 8px;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h3 {
  margin-block-start: 0.3em;
}
